@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200italic,700);

* {
	 font-family:'Source Sans Pro', sans-serif;
	}

body{
	overflow-x: hidden;
	margin: 0 auto;
}

/* ------------------ DÖLJER SCROLL ---------------------------- */

::-webkit-scrollbar { 
    display: none; 
}
::-moz-scrollbars-none

/* ------------------ UTKAST FÖR HEMKNAPP/PAGE-UP ---------------------------- */

#home_button_container {
	position: relative; 
	width: 100%;
	height: 33%;
	z-index: 999999;
	
}

#home_button {
	position: absolute;
	width: 150px;
	z-index: 999999;
	bottom: 50%;
	left: 0;right:0;
	margin:0 auto;
	animation: logo_animation 4s 1 forwards;

}

#stage_dive {
	position: absolute;
	width: 175px;
	z-index: 999999;
	bottom: 35%;
	left: 0;right:0;
	margin:0 auto;
	animation: stage_dive_animation 4s 1 forwards;
}


/* ------------------ NAVIGATION ---------------------------- */

	#animation_bar {
		position: absolute;
		width: 100%;
		height: 55px;
		background-color:#E6332A;
		z-index: 999999;
		text-align: center;
		background: linear-gradient(0deg, #ff6633, #ff3333);
		border-bottom: none;
		top: -10%;
	}

	.nav_bar_animation {
		animation: nav_animation 3s 1 forwards;
	}	

	
	#nav_bar {
		position: fixed;
		width: 100%;
		height: 55px;
		background-color:#E6332A;
		z-index: 100000;
		text-align: center;
		background: linear-gradient(0deg, #ff6633, #ff3333);
		border-bottom: none;
		box-sizing: border-box;

		}

	#nav_container{
		margin-top: 12px;
		}
	
	.nav_button {
		text-align: center; 
		text-decoration: none;
		color: #fff;
		margin: 0 30px;
		opacity: 1.0;
		/* animation: icon_animation 5s 1 forwards; */
	}

	#add, #user, #favourites{
		width: 32px;
		margin-bottom: -5px;
	}


.nav_active {
	opacity: 0.9;
	 -webkit-filter: drop-shadow(2px 2px 3px #ad1514);
	  filter: drop-shadow(2px 2px 3px #ad1514);
	}

/* ------------------ SIDBLÄDDRING ---------------------------- */


#page_show_box {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	background-color: #f5f5f5;
	}
	
	#page_add, #page_show_spelning, #page_show_topplista {
	 -webkit-transition: all 0.6s ease;
	 -moz-transition: all 0.6s ease;
	 -o-transition: all 0.6s ease;
	 transition: all 0.6s ease;	
	}

	#page_show_list, #page_add, #page_show_spelning, #page_show_topplista {
		width:100%;
		position: absolute;
		top:0px;
		bottom:0;
		padding:10px;
		padding-top:60px;
		box-sizing: border-box;
		overflow:scroll;
		background: linear-gradient(0deg, #0a0a0a, #707070);
		}
		
		#page_show_list {
			left:0;
			z-index: 1;	
			/* background: linear-gradient(0deg, black, grey); */
			color: #fff;
			}

		#page_add {
 			/*position: fixed;*/
			left:-100%;
			background-image: url("../img/crowd2.jpg");
			background-size: cover;
    		background-repeat: no-repeat;
			z-index: 10000;	
			color: #fff;
			}
			
			#page_add.show {
				left:0;
				}
				
		#page_show_topplista {
			left:-100%;
			border-right: 1px dotted #000;
			background: linear-gradient(0deg, #0a0a0a, #707070);
			z-index: 10000;	
			color: #fff;
			}
			
		#page_show_topplista.show {
				left:0;
				}
		
		#page_show_spelning {
			
			border-left: 1px dotted #000;
			right:-100%;
			box-sizing: border-box;
			z-index: 10000;
			color: #fff;
			background: linear-gradient(0deg, #0a0a0a, #707070);
			}
			
			#page_show_spelning.show {
				right:0;
			}
				
/* ------------------ LÄGG TILL ---------------------------- */

#form_add {
	width: 100%;
	box
	}
	
	#form_add > input, #form_add > label {
		display: block;
		width:100%;
		padding:10px;
		box-sizing: border-box;
		border: none;
		opacity: 50%;
		background-color: none;
		box-shadow: none;
		
		}

input#arrangemang, input#stad, input#artist, input#datum {
	font-style: italic;
}		

input#arrangemang, input#stad {
	width:50%;
	float:left;
	border-right: 2px solid black;
}		
		

.button {
	padding:10px;
	font-weight: bold;
	margin-top:20px;
	background-color: #000;
	color:#fff;
	border-radius: 5px;
	width: 100%;
	background: linear-gradient(0deg, #ff6633, #ff3333);
	text-transform: uppercase;
	font-size:15px;

	}

.red {
	border: 2px solid red;
	font-weight: bold;
	color:red;
	background-color: #ffeaea;
	}
	
/* ------------------ VISA SPELNINGAR ---------------------------- */
	
	
#spelningar_show ,#topplista_show{
	margin-top:20px;
	margin-bottom: 80px;

	}	

	#spelningar_show > div{
		display:block;
		padding:10px;
		position: relative;
		background: rgba(187,187,187,0.2);
		margin: 0 0 5% 0;
		border-radius: none;
		}
		
	#spelningar_show .artist, #topplista_show .artist {
		font-weight: bold;
		cursor: pointer;

		}
		
	#spelningar_show .datum, #spelningar_show .plats,  #topplista_show .plats , #spelning_info {
		font-weight: 200;
		font-style: italic;
		}

	#ranknummer{
			float: left;
			margin: 10px 0 0;
		}

	#topplista_show > div{
		display:block;
		padding:10px;
		position: relative;
		background-color: #bbb;
		margin: 0 0 5% 30px;
		border-radius: 3px;
		}

	.favorit_star {
		position: absolute;
		right:5px;
		top:15px;
		font-size: 20px;
		cursor: pointer;
		color: #dfdfdf;
		}
		.favorit_star.active {
			color: #ffc600;
			text-shadow: 1px 1px 4px #cacaca;
		}

.delete {
	animation: animation_delete 2s 1 linear;
	}


#map {
	width:100%;
}
	

#map_box {
	height:400px;
	width:100%;
	position: relative;
	background-position: center top;
	background-size: cover;
	margin-top:20px;
	border-radius: 3px;
	overflow: hidden;
	}
	
#map_info {
		background-color:rgba(0, 0, 0, 0.8);
		padding: 5px 10px;
	}
	#map_info h2, #map_info p {
		margin:0;
		padding:0;
	}
#favorit_star_big {
	cursor:pointer;
	position: absolute;
	right:20px;
	top:10px;
	font-size: 30px;
	color: #dfdfdf;
	}
	#favorit_star_big.active {
		color: #ffc600;
		text-shadow: 1px 1px 4px #cacaca;
		}		
		
#delete_button {
	border:0;
	background-color: #000;
	border-radius: 3px;
	color:#fff;
	font-weight: bold;
	padding: 5px 10px;
	position: absolute;
	bottom:10px;
	left:5px;
	}


#button_back {
	width:20px;
	float:left;
	padding:10px;
	margin-top:5px;
	margin-right:10px;
	cursor: pointer;
}		
		

/* ------------------ ANIMATIONER ---------------------------- */

@keyframes animation_delete {
	0% {   }
	10% { transform:  translateX(-10px); }
	100% { transform:  translateX(150%); } 
	}

@keyframes nav_animation {
	0% { opacity: 1;transform: scaleY(100);}
	50% { opacity: 1;transform: scaleY(100);}
	89% { opacity: 1;}
	95% { opacity: 0.5;}
	95% { opacity: 0;}
	100% { opacity: 0; transform: scaleY(1);}
	} /* <-------------- DEN LILLE LILLE RACKARN SAKNADES */

@keyframes logo_animation {
	0% { transform: scale(0); }
	10% { transform: scale(1.3); }
	20% { transform: scale(1); }
	30% { transform: scale(1.2); }
	50% { 	bottom: 50%; }
	100% { bottom: -30px; transform: scale(0.3); } 
}

@keyframes stage_dive_animation {
	0% {  }
	10% { opacity: 1; }
	20% { opacity: 1; }
	30% { opacity: 1; }
	70% { opacity: 0;}
	100% { opacity: 0; } 
}




/* ------------------ MEDIEQUERYS ---------------------------- */

@media (min-width: 700px) {  

	body{
		background: url('../img/crowd_02.png');
		}

	#page_show_box {
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		width:700px;
		margin:0 auto;
		overflow:hidden;
		}


	#nav_bar{
		width: 700px;
		}
		
		#page_add {
			left:-100%;
			background-image: none;
			background: linear-gradient(0deg, #0a0a0a, #707070);
			z-index: 10000;	
			color: #fff;
			}
<<<<<<< Updated upstream
	
=======

>>>>>>> Stashed changes
}