@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200italic,700);

* {
	 font-family:'Source Sans Pro', sans-serif;
	}

body{
	overflow-x: hidden;
	margin: 0 auto;
}

/* ------------------ DÖLJER SCROLL ---------------------------- */

::-webkit-scrollbar { 
    display: none; 
}
::-moz-scrollbars-none

/* ------------------ UTKAST FÖR HEMKNAPP/PAGE-UP ---------------------------- */

#home_button {
	margin: auto;
	height: 10px;
	width: 10px;
	left: 50%;
	right: 50%;
	z-index: 10000;
	position: fixed;
}

/* ------------------ SIDBLÄDDRING ---------------------------- */


#page_show_box {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	background-color: #f5f5f5;

	}

	#nav_bar {
		position: fixed;
		width: 100%;
		height: 55px;
		background-color:#E6332A;
		z-index: 100000;
		opacity: 0.85;
		text-align: center;
		right: 0px;
		}
	#nav_bar img {
		padding: 15px 30px 15px 30px;
	}
	
	
	#nav_button {
		text-align: center; 
		text-decoration: none;
		color: #fff;
	}
	
	#page_add, #page_show_spelning, #page_show_topplista {
	 -webkit-transition: all 0.6s ease;
	 -moz-transition: all 0.6s ease;
	 -o-transition: all 0.6s ease;
	 transition: all 0.6s ease;	
	}

	#page_show_list, #page_add, #page_show_spelning, #page_show_topplista {
		width:100%;
		position: absolute;
		top:0px;
		bottom:0;
		padding:10px;
		padding-top:60px;
		box-sizing: border-box;
		overflow:scroll;
		background: linear-gradient(0deg, black, grey);
		}
		
		#page_show_list {
			left:0;
			z-index: 1;	
			background: linear-gradient(0deg, black, grey);
			color: #fff;
			}

		#page_add {
			position: fixed;
			left:-100%;
			background-image: url("../img/crowd2.jpg");
			background-size: cover;
    		background-repeat: no-repeat;
    		background-color: #000;
			z-index: 10000;	
			color: #fff;

			}
			
			#page_add.show {
				left:0;
				}
				
		#page_show_topplista {
			left:-100%;
			border-right: 1px dotted #000;
			background: linear-gradient(0deg, black, grey);
			z-index: 10000;	
			color: #fff;
			}
			
		#page_show_topplista.show {
				left:0;
				}
		
		#page_show_spelning {
			
			border-left: 1px dotted #000;
			background-color: #f5f5f5;
			right:-100%;
			box-sizing: border-box;
			z-index: 10000;
			color: #fff;
			
			}
			
			#page_show_spelning.show {
				right:0;
			}
				
/* ------------------ LÄGG TILL ---------------------------- */

#form_add {
	width: 100%;
	}
	
	#form_add > input, #form_add > label {
		display: block;
		width:100%;
		padding:10px;
		box-sizing: border-box;
		}
		

input#arrangemang, input#stad {
	width:50%;
	float:left;
	border-right: 2px solid black;
}		
		

.button {
	padding:10px;
	font-weight: bold;
	margin-top:20px;
	background-color: #000;
	color:#fff;
	border-radius: 5px;
	width: 100%;
	}

.red {
	border: 1px solid red;
	font-weight: bold;
	color:red;
	}
	
/* ------------------ VISA SPELNINGAR ---------------------------- */
	
	
#spelningar_show ,#topplista_show{
	margin-top:20px;
	margin-bottom: 80px;

	}	

	#spelningar_show > div,  #topplista_show > div {
		display:block;
		padding:10px;
		position: relative;
		background-color: #bbb;
		
		margin: 0 0 5% 0;

		}
		
	#spelningar_show .artist, #topplista_show .artist {
		font-weight: bold;
		cursor: pointer;

		}
		
	#spelningar_show .datum, #spelningar_show .plats,  #topplista_show .plats , #spelning_info {
		font-weight: 200;
		font-style: italic;
		}

	.favorit_star {
		position: absolute;
		right:5px;
		top:15px;
		font-size: 20px;
		cursor: pointer;
		color: #dfdfdf;
		}
		.favorit_star.active {
			color: #ffc600;
			text-shadow: 1px 1px 4px #cacaca;
		}

.delete {
	animation: animation_delete 2s 1 forwards;
	}
	
#favorit_star_big {
	cursor:pointer;
	position: absolute;
	right:20px;
	top:70px;
	font-size: 30px;
	color: #dfdfdf;
	}
	#favorit_star_big.active {
		color: #ffc600;
		text-shadow: 1px 1px 4px #cacaca;
	}

/* ------------------ ANIMATIONER ---------------------------- */

@keyframes animation_delete {
	0% {   }
	10% { transform:  translateX(-10px); }
	100% { transform:  translateX(150%); } 
	}



/* ------------------ MEDIEQUERYS ---------------------------- */

@media (min-width: 700px) {  
	#page_show_box {
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		width:700px;
		margin:0 auto;
		overflow:hidden;
		}
}